canvas{border: 2px solid #000;}
body{background-color:#dad8d8;}

#buttons {
  position: absolute;
  top: 5px;
  left: 10px;
}
#reset {
  width: 80px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
}
#text {
    width: 60px;
    height: 30px;
    float: left;
    
  }
#pen {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    float: left;
  }
#eraser {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    float: left;
  }
.color {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  
  border: 1px solid #000;
  text-align: center;
}
.bu {
    width: 110px;
    height: 25px;
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
  }
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#purple {
  background-color: purple;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}
#pink {
  background-color: pink;
}
#black {
  background-color: black;
}
#white {
 background-color: white;
 margin-right: 15px;
}

#brush_size {
    background-color: white;
    margin-top: 10px;
  margin-left: 5px;
   }

#input{
    background-color: white;
    margin-top: 5px;
  margin-left: 5px;
   }

#font{
    margin-top: 5px;
  margin-left: 5px;
}