<head>
    <link rel="stylesheet"  href="index.css">
</head>
<body>
    
    <div class="container">
    <div><canvas width="800px" height="400px" id="art"></canvas></div>
        <div id="buttons">
        
        <a id="save" class="bu" href="#" style="text-decoration:none;color:rgb(243, 46, 46);" download="downloadimage.png" >Save image</a>
    <div><input type="button" id="reset" value="Reset"/>
        <input type="button" id="eraser" value="Eraser" onclick="eraser();">
        <div id="red" class="color"onclick="brush();"></div>
        <div id='blue' class="color" onclick="brush();"></div>
        <div id='green' class="color" onclick="brush();"></div>
        <div id='purple' class="color" onclick="brush();"></div>
        <div id='yellow' class="color" onclick="brush();"></div>
        <div id='orange' class="color" onclick="brush();"></div>
        <div id='pink' class="color" onclick="brush();"></div>
        <div id='black' class="color" onclick="brush();"></div>
        <div id='white' class="color" onclick="brush();"></div>
        <input type="range" id="brush_size" min="1" max="30" value="3" onclick="fontSizes2();">

    <div>
        
        <input type="button" id="text" value="puttext" onclick="text2();"></div>
        <input type="button" id="text" value="notput" onclick="text3();"></div>
 
        
        <div id="three" class="color">3</div>
        <div id="five" class="color">5</div>
        <div id="ten" class="color">10</div>
        <div id="fifteen" class="color">15</div>
        <div id="twenty" class="color">20</div>
        <div id="threty" class="color">30</div>

        <input type="text" id="input" value="inputhere" onclick="text();">
        <select id="font">
            <option value="serif">serif</option>
            <option value="cursive">cursive</option>
            <option value="monospace">monospace</option>
        </select>
    </div>
    <input type="button" id="redo" value="redo" onclick="redo();"></div>
    <input type="button" id="undo" value="undo" onclick="undo();"></div>
    <input type="button" id="r" value="rect" onclick="r1();"></div>
    <input type="button" id="c" value="circle" onclick="c1();"></div>
    <input type="button" id="a" value="triangle" onclick="a1();"></div>
    <script type="text/javascript" src="index.js"></script>
</body>
